.card {
    background-color: var(--card-bg);
    margin: 0 auto;
    max-width: 95%;
    text-align: center;
}

.card h2 {
    font-size: 6rem;
    padding: 2rem;
    color: var(--font-dark);
}

.btnContainer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 25px;
}

.btnContainer button {
    min-width: 80px;
    min-height: 80px;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--btn);
    font-weight: 500;
    font-size: 1.4rem;
    transition: all 0.2s linear;
}

.btnContainer > button:hover {
    opacity: 0.5;
}

@media screen and (min-width:768px){
    .card {
        max-width: 65%;
    }
    .card h2 {
        font-size: 8rem;
    }
    .btnContainer {
        margin-top: 2rem;
    }
    .btnContainer button {
        min-width: 100px;
        min-height: 100px;
    }
}

@media screen and (min-width:1280px){
    .card {
        max-width: 45%;
    }
}

@media only screen and (min-device-width: 600px) and (max-device-height:1366px) {
    .card {
        max-width: 50%;
    }
    .card h2{
        font-size: 6rem;
        padding: 1rem;
    }
    .btnContainer {
        margin-top: 1rem;
    }
    .btnContainer button {
        min-width: 60px;
        min-height: 60px;
        font-size: 1.2rem;
    }
}