:root {
    --bg: #CFD8DC;
    --font-dark: #212121;
    --alert-red: #EF9A9A;
    --alert-red-font: #D50000;
    --alert-green: #81C784;
    --alert-green-font: #1B5E20;
    --card-bg: #B0BEC5;
    --btn: #78909C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--bg);
    font-family: 'Plus Jakarta Sans', sans-serif;
}